html {
  height: 100%;
  box-sizing: border-box;
}

::selection {
  background: #e1534a;
}
::-moz-selection {
  background: #e1534a;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  cursor:url(https://i.imgur.com/bj7fSgG.png), auto;
}

@-webkit-keyframes sueloslide {
    from { transform: translateX(0px); }
    to { transform: translateX(-48px); }
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background:#e1534a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b {
  min-height:100%;
  position:absolute;
  overflow:hidden;
  width:100%;
  text-align:center;
}

.b .pj {
    width:96px;
    height:144px;
    left:200px;
    bottom:168px;
    position:absolute;
    background-repeat:no-repeat;
    /*background-position:200px calc(100% - 144px);*/
    background-image:url("../img/pj.gif");
}

.b .suelo {
    width:200%;
    height:144px;
    position:absolute;
    bottom:24px;
    left:0;
    animation:sueloslide .3s linear infinite;
    background-image:url("../img/suelo.png");
}

.e {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 4px 0 16px;
  text-align: center;
}

.e a img {
  transition:all .1s linear;
}

.e a:first-of-type { margin-right:24px; }

.e a:hover img {
  transform:translateY(-4px);
}

@media (max-width: 420px) {
    .e a:first-of-type { margin-right:0px; }
    .e a { display:block; }
    .e a:hover img { transform:translateY(0px); }
}

@media (max-width: 800px) {
    .b .pj { left: 35%; bottom:208px; }
    .b .suelo { bottom:64px; }
}